services:
  haproxy:
    image: haproxy:latest
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    volumes:
      - ./data/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    restart: unless-stopped
    networks:
      - general

networks:
  general:
    driver: bridge
    name: general
