services:
  nextcloud-app:
    image: {{ nextcloud_app_version }}
    env_file:
      - ./env/nextcloud.env
    volumes:
      - ./data/nextcloud:/var/www/html
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy

    networks:
      - reverse-proxy
      - nextcloud-network

  mariadb:
    image: {{ nextcloud_db_version }}
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW --binlog-expire-logs-seconds=86400
    env_file:
      - ./env/nextcloud.env
    volumes:
      - ./data/mariadb:/var/lib/mysql
    restart: unless-stopped
    networks:
      - nextcloud-network
    healthcheck:
      test: ["CMD", "bash", "-c", "mariadb-admin ping -u root -p\"$$MYSQL_ROOT_PASSWORD\" -h 127.0.0.1"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 10s

  cron:
    image: nextcloud:latest
    restart: unless-stopped
    env_file:
      - ./env/nextcloud.env
    volumes:
      - ./data/nextcloud:/var/www/html
    entrypoint: /cron.sh
    depends_on:
      - nextcloud-app
    networks:
      - nextcloud-network

  redis:
    image: {{ nextcloud_redis_version }}
    restart: unless-stopped
    volumes:
      - ./data/redis:/data
    networks:
      - nextcloud-network

networks:
  nextcloud-network:
    driver: bridge
  reverse-proxy:
    external: true