NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user }}
NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password }}

MYSQL_HOST={{ nextcloud_db_host }}
MYSQL_ROOT_PASSWORD={{ nextcloud_db_root_pw }}
MYSQL_DATABASE={{ nextcloud_db_name }}
MYSQL_USER={{ nextcloud_db_user }}
MYSQL_PASSWORD={{ nextcloud_db_pw }}

APACHE_DISABLE_REWRITE_IP=0
TRUSTED_PROXIES=172.21.0.254
OVERWRITEHOST={{ nextcloud_domain }}
OVERWRITEPROTOCOL=https
OVERWRITECLIURL=https://{{ nextcloud_domain }}

REDIS_HOST=redis