services:
  ryot-app:
    image: {{ ryot_app_version }}
    env_file: ./env/ryot.env
    restart: unless-stopped
    depends_on:
      postgresql:
        condition: service_healthy
    networks:
      - reverse-proxy
      - ryot-network

  postgresql:
    image: {{ ryot_db_version }}
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    env_file: ./env/ryot.env
    restart: unless-stopped
    networks:
      - ryot-network
    healthcheck:
      test: ["CMD", "pg_isready", "-h", "localhost", "-p", "5432", "-U", "postgres"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s
      
networks:
  ryot-network:
    driver: bridge
  reverse-proxy:
    external: true