http:
  routers:
    ryot-rtr:
      rule: "Host(`{{ ryot_domain }}`)"
      entryPoints: 
        - "websecure"
      tls:
        certResolver: "letsencrypt"
      middlewares:
        - "noindex-headers@file"
        - "hsts-headers@file"
        - "secure-headers@file"
        - "ratelimit-control@file"
      service: "ryot-svc"

  services:
    ryot-svc:
      loadBalancer:
        servers:
          - url: "http://ryot-app:8000"