FRONTEND_URL={{ ryot_domain }}

TZ={{ ryot_time_zone }}

USERS_ALLOW_REGISTRATION="{{ 'true' if ryot_allow_registration else 'false' }}"

DISABLE_TELEMETRY="{{ 'true' if ryot_disable_telemetry else 'false' }}"

SERVER_PRO_KEY={{ ryot_pro_key }}

USERS_TOKEN_VALID_FOR_DAYS={{ ryot_autorisation_days }}

POSTGRES_HOST={{ ryot_db_host }}
POSTGRES_PORT={{ ryot_db_port }}
POSTGRES_DB={{ ryot_db_name }}
POSTGRES_USER={{ ryot_db_user }}
POSTGRES_PASSWORD={{ ryot_db_pw }}
DATABASE_URL=postgres://{{ ryot_db_user }}:{{ ryot_db_pw }}@{{ ryot_db_host }}:{{ ryot_db_port }}/{{ ryot_db_name }}

SERVER_SMTP_SERVER={{ ryot_smtp_srv }}
SERVER_SMTP_MAILBOX={{ ryot_smtp_mailbox }}
SERVER_SMTP_USER={{ ryot_smtp_user }}
SERVER_SMTP_PASSWORD={{ ryot_smtp_pw }}

SERVER_ADMIN_ACCESS_TOKEN={{ ryot_admin_token }}

SERVER_MAX_FILE_SIZE_MB={{ ryot_max_upload_file_size }}







